## Quality Checklist

Przed odaniem swojej pracy master agentowi.
Zrób sobie taką checlistę jak w samolotach piloci przed odlotem.

### Przed Zakończeniem
- [ ] Success criteria zrozumiane i spełnione
- [ ] Zadanie spełnione i przetestowane czy działa
- [ ] memory lub skile zaktualizowane jeżeli była potrzeba
- [ ] Ready dla next agent
- [ ] Raport wygenerowany

Jeśli problem który natknełeś nie byłeś w stanie rozwiązać:
- [ ] Zaznacz mocno to w swojej finalnej którkiej wypowiedzi.